<% if cat.persisted? %>
  <% action_url = cat_url(cat) %>
  <% submit_value = 'Update' %>
<% else %>
  <% action_url = cats_url %>
  <% submit_value = 'Create' %>
<% end %>

<form action="<%= action_url %>" method="post">
  <% if cat.persisted? %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label for="name">Name:
    <input type="text" name="name" value="<%= cat.name %>">
  </label>
  <br>

  <label for="birth_date">Birth Date:
    <input type="date" name="birth_date" value="<%= cat.birth_date %>">
  </label>
  <br>

  <label for="color">Color:
    <select name="color">
      <option selected disabled>Color</option>
      <% Cat::COLORS.each do |color| %>
        <option value="<%= color %>" <%= cat.color == color ? "selected" : ""%> ><%= color %></option>
      <% end %>
    </select>
  </label>
  <br>

  <p>Sex: </p>
  <label for="M">
    <input id="M" type="radio" name="sex" value="M" <%= cat.sex == "M" ? "checked" : "" %> >M
  </label>

  <label for="F">
    <input id="F"  type="radio" name="sex" value="F" <%= cat.sex == "F" ? "checked" : "" %> >F
  </label>

  <br>

  <label for="description">Description:
    <textarea name="description">
      <%= cat.description %>
    </textarea>
  </label>
  <br>

  <input type="submit" value="<%= submit_value %>">
</form>