<h1>Cats#show</h1>

<h2><%= @cat.name %></h2>
<table> 
  <thead>
    <tr>
      <td>Attribute</td>
      <td>Value</td>
    </tr>
  </thead>
  <tr>
    <td>age</td>
    <td><%= @cat.age %></td>
  </tr>
  
  <tr>
    <td>birth_date</td>
    <td><%= @cat.birth_date %></td>
  </tr>

  <tr>
    <td>color</td>
    <td><%= @cat.color %></td>
  </tr>

  <tr>
    <td>sex</td>
    <td><%= @cat.sex %></td>
  </tr>
</table>
